		header{
			  background-color:#7DB45F;
			  font-family:"·L³n¥¿¶Â";
			  color:white;
			  font-size:20px;
			  height:auto;
			  
		}
		.navcolor{
			 background-color:#7DB45F;
		}
		.navdropdowncolor{
			background-color:#7DB45F;
		}
		.navdropdowncolor a{
			color:white;
		}
		
		
		.logo{
			background:url('images/logobg-1.png') center center; 
			width:60px;height:40px;
			position:relative;bottom:8px;
			box-sizing:border-box;
		}
		main{
			height:800px;
			box-sizing:border-box;
		}

		.img{
			height:800px;
			box-sizing:border-box;
			
		}

		footer{
			 background-color:#7DB45F;
			 font-family:"·L³n¥¿¶Â";
			 color:white;
			 height:70px;
			 width:auto;
			 font-size:20px;
			 box-sizing:border-box;
			 
		}
		.divfooter{
			position:relative;top:20px;
			box-sizing:border-box;
			
		}
		
		.tableDiv{
			float:left;
			height:300px;
			width:250px;
			text-align:center;
			margin-right:22px;
			margin-left:45px;
			margin-top:20px;
			margin-bottom:5px;
		}
		.tableDiv .tableinfo{
			font-family:"·L³n¥¿¶ÂÅé";
			font-size:20pt;
		}
		.tableDiv a{
			color:blue;
			text-decoration:none;

		}
		
		.tablenavDiv{
			clear:both;
			text-align:center;
			font-family:"Courier New", Courier, monospace;
			font-size:9pt;
			padding:10px;
			
		}
		.tablemove{
			box-sizing:border-box;
			position:relative;top:50px;
		}
		.tablerwd{
			width: 100%;
			overflow:auto;
		}
		.picDiv{
			margin-top:40px;
		}
		