		header{
			  background-color:#7DB45F;
			  font-family:"微軟正黑";
			  color:white;
			  font-size:20px;
			  height:auto;
			  
		}
		.navcolor{
			 background-color:#7DB45F;
		}
		.navdropdowncolor{
			background-color:#7DB45F;
		}
		.navdropdowncolor a{
			color:white;
		}
		
		
		.logo{
			background:url('images/logobg-1.png') center center; 
			width:60px;height:40px;
			position:relative;bottom:8px;
			box-sizing:border-box;
		}
		main{
			height:800px;
			box-sizing:border-box;
		}

		.img{
			height:800px;
			box-sizing:border-box;
			
		}

		footer{
			 background-color:#7DB45F;
			 font-family:"微軟正黑";
			 color:white;
			 height:70px;
			 width:auto;
			 font-size:20px;
			 box-sizing:border-box;
			 
		}
		.divfooter{
			position:relative;top:20px;
			box-sizing:border-box;
			
		}
		
		
		.divdb2{
			width:1024px;
			height:580px;
		}
		.divmove{
			position:relative;top:17px;left:270px;top:110px;
			box-sizing:border-box;
		}
		.imageDiv2{
			height:250px;
			width:250px;
			text-align:center;
			margin-right:22px;
			margin-left:45px;
			margin-top:20px;
			margin-bottom:5px;
			
		}
		.imageDiv2 .imageinfo2{
			font-family:"微軟正黑體";
			font-size:15pt;
		}
		.imageDiv2 a{
			color:blue;
			text-decoration:none;
		}
		.imageDivmove2{
			position:relative;right:50px;
		}
		.picDiv2{
			margin-top:40px;
			position:relative;top:40px;
		}
		.pic{
			width:200px;
			height:150px;
			
		}
		.titleDiv1{
			font-family:"微軟正黑體";
			font-size:15pt;
			font-weight:bolder;
			color:#5B31F5;
			width:600px;
			
		}
		.titleDiv2{
			font-family:"微軟正黑體";
			font-size:15pt;
			font-weight:bold;
			color:#FA9D69;
			width:600px;
			
		}
		.titlemove{
			position:relative;left:330px;bottom:220px;
		}
		.dataDivmove{
			position:relative;left:330px;bottom:215px;
			width:600px;
			
		}
		
		@media only screen and (max-width:1024.5px){
			.divrwd{
				width: 100%;
				overflow:auto;
			}
			
		}

		@media only screen and (max-width:768.5px){
			.divrwd{
				width: 100%;
				overflow:auto;
			}
		}

		@media only screen and (max-width:540px){
			
			.divrwd{
				width: 100%;
				overflow:auto;
			}
		} 
		@media only screen and (max-width:414.5px){
			
			.divrwd{
				width: 100%;
				overflow:auto;
			}
		}

		@media only screen and (max-width:411.5px){
			
			.divrwd{
				width: 100%;
				overflow:auto;
			}
		}

		@media only screen and (max-width:375.5px){
			
			.divrwd{
				width: 100%;
				overflow:auto;
			}
			
		}

		@media only screen and (max-width:360.5px){
			
			.divrwd{
				width: 100%;
				overflow:auto;
			}
		}

		@media only screen and (max-width:320.5px){
			
			
			.divrwd{
				width: 100%;
				overflow:auto;
			}
			
		}

		@media only screen and (max-width:280.5px){
			
			
			.divrwd{
				width: 100%;
				overflow:auto;
			}
			
		}