        .divmove{
			position:relative;top:225px;
			box-sizing:border-box;
		}	
		.textColorFont{
			color:blue;
			font-size:48px;
			position:relative;left:355px;
		}
		.ulcss{
			font-size:36px;
			position:relative;left:350px;
			width:800px;
		}
		.ulcss li{
			list-style-type:decimal;
		}
			
		@media only screen and (max-width:1024px){
				
			.divmove{
				position:relative;top:200px;
			}
				
			.textColorFont{
				color:blue;
				font-size:36px;
				position:relative;left:305px;
				width:500px;
			}
			.ulcss{
				font-size:28px;
				position:relative;left:300px;
				width:500px;
			}
			.ulcss li{
				list-style-type:decimal;
			}
				
		}

		@media only screen and (max-width:768px){
				
			.divmove{
				position:relative;top:200px;
			}
				
			.textColorFont{
				color:blue;
				font-size:36px;
				position:relative;left:150px;
				width:500px;
			}
			.ulcss{
				font-size:28px;
				position:relative;left:140px;
				width:500px;
			}
			.ulcss li{
				list-style-type:decimal;
			}
				
		}

		@media only screen and (max-width:540px){
				
			.divmove{
				position:relative;top:280px;
			}
				
			.textColorFont{
				color:blue;
				font-size:28px;
				width:350px;
			}
			.ulcss{
				font-size:20px;
				position:relative;left:110px;
				width:350px;
			}
			.ulcss li{
				list-style-type:decimal;
			}
				
		} 
		@media only screen and (max-width:414.5px){
				
			.divmove{
				position:relative;top:320px;
			}
				
			.textColorFont{
				color:blue;
				font-size:20px;
				position:relative;left:108px;
				width:250px;
			}
			.ulcss{
				font-size:12px;
				position:relative;left:80px;
				width:250px;
			}
			.ulcss li{
				list-style-type:decimal;
			}
				
		}

		@media only screen and (max-width:411.5px){
				
			.divmove{
				position:relative;top:340px;
			}
				
			.textColorFont{
				color:blue;
				font-size:20px;
				position:relative;left:108px;
				width:250px;
			}
			.ulcss{
				font-size:12px;
				position:relative;left:80px;
				width:250px;
			}
			.ulcss li{
				list-style-type:decimal;
			}
				
		}

		@media only screen and (max-width:375.5px){
				
			.divmove{
				position:relative;top:330px;
			}
				
			.textColorFont{
				color:blue;
				font-size:20px;
				position:relative;left:98px;
				width:250px;
			}
			.ulcss{
				font-size:12px;
				position:relative;left:70px;
				width:250px;
			}
			.ulcss li{
				list-style-type:decimal;
			}
				
		}

		@media only screen and (max-width:360.5px){
				
			.divmove{
				position:relative;top:320px;
			}
				
			.textColorFont{
				color:blue;
				font-size:20px;
				position:relative;left:98px;
				width:250px;
			}
			.ulcss{
				font-size:12px;
				position:relative;left:70px;
				width:250px;
			}
			.ulcss li{
				list-style-type:decimal;
			}
				
		}

		@media only screen and (max-width:320.5px){
				
			.divmove{
				position:relative;top:325px;
			}
				
			.textColorFont{
				color:blue;
				font-size:16px;
				position:relative;left:44px;
				width:200px;
			}
			.ulcss{
				font-size:12px;
				position:relative;left:15px;
				
			}
			.ulcss li{
				list-style-type:decimal;
			}
				
		}

		@media only screen and (max-width:280.5px){
				
			.divmove{
				position:relative;top:325px;
			}
				
			.textColorFont{
				color:blue;
				font-size:12px;
				position:relative;left:45px;
				width:150px;
			}
			.ulcss{
				font-size:10px;
				position:relative;left:15px;
				
			}
			.ulcss li{
				list-style-type:decimal;
			}
				
		} 