	    .tablemain,th,td{
			border:2px solid black;
			text-align:center;
		}
		
		.imgSize{
			width:200px;
			height:200px;
		}
		
		.divmove{
			position:relative;top:35px;
		}
		
		.tablerwd{
			width: 100%;
			overflow:auto;
		}
		
		@media only screen and (max-width:1024px){
			
			.divmove{
				position:relative;top:35px;
			}
			
		}

	    @media only screen and (max-width:768px){
			
			.divmove{
				position:relative;top:35px;
			}
			
		}

		@media only screen and (max-width:540px){
			
			.divmove{
				position:relative;top:35px;
			}
			
		} 
		
		@media only screen and (max-width:414.5px){
			
			.divmove{
				position:relative;top:35px;
			}	
			
		}

		@media only screen and (max-width:411.5px){
			
			.divmove{
				position:relative;top:35px;
			}	
			
		}

		@media only screen and (max-width:375.5px){
			
			.divmove{
				position:relative;top:36px;
			}	
			
		}

		@media only screen and (max-width:360.5px){
			
			.divmove{
				position:relative;top:36px;
			}
			
		}

		@media only screen and (max-width:320.5px){
			
			.divmove{
				position:relative;top:35px;
			}
			
		}

		@media only screen and (max-width:280.5px){
			
			.divmove{
				position:relative;top:35px;
			}
			
		}