		header{
			  background-color:#7DB45F;
			  font-family:"·L³n¥¿¶Â";
			  color:white;
			  font-size:20px;
			  height:auto;
			  
		}
		.navcolor{
			 background-color:#7DB45F;
		}
		.navdropdowncolor{
			background-color:#7DB45F;
		}
		.navdropdowncolor a{
			color:white;
		}
		
		
		.logo{
			background:url('images/logobg-1.png') center center; 
			width:60px;height:40px;
			position:relative;bottom:8px;
			box-sizing:border-box;
		}
		main{
			height:800px;
			box-sizing:border-box;
		}

		.img{
			height:800px;
			box-sizing:border-box;
			
		}

		footer{
			 background-color:#7DB45F;
			 font-family:"·L³n¥¿¶Â";
			 color:white;
			 height:70px;
			 width:auto;
			 font-size:20px;
			 box-sizing:border-box;
			 
		}
		.divfooter{
			position:relative;top:20px;
			box-sizing:border-box;
			
		}

		
		.tablemain,th,td{
			border:2px solid black;
			text-align:center;
		}
		
		
		.imgSize{
			width:110px;
			height:110px;
		}
		
		.divmove{
			box-sizing:border-box;
			position:relative;top:115px;
		}
		
		.tablerwd{
			width: 100%;
			overflow:auto;
		}
		
		@media only screen and (max-width:1024px){
			
			.divmove{
				position:relative;top:37px;
			}
			
			
		}

	    @media only screen and (max-width:768px){
			
			.divmove{
				position:relative;top:37px;
			}
			
		}

		@media only screen and (max-width:540px){
			
			.divmove{
				position:relative;top:40px;
			}
			
		} 
		
		@media only screen and (max-width:414.5px){
			
			.divmove{
				position:relative;top:40px;
			}	
			
		}

		@media only screen and (max-width:411.5px){
			
			.divmove{
				position:relative;top:40px;
			}	
			
		}

		@media only screen and (max-width:375.5px){
			
			.divmove{
				position:relative;top:40px;
			}	
			
		}

		@media only screen and (max-width:360.5px){
			
			.divmove{
				position:relative;top:40px;
			}
			
		}

		@media only screen and (max-width:320.5px){
			
			.divmove{
				position:relative;top:40px;
			}
			
		}

		@media only screen and (max-width:280.5px){
			
			.divmove{
				position:relative;top:40px;
			}
			
		}