		header{
			  background-color:#7DB45F;
			  font-family:"·L³n¥¿¶Â";
			  color:white;
			  font-size:20px;
			  height:auto;
			  
		}
		.navcolor{
			 background-color:#7DB45F;
		}
		.navdropdowncolor{
			background-color:#7DB45F;
		}
		.navdropdowncolor a{
			color:white;
		}
		
		
		.logo{background:url('images/logobg-1.png') center center; 
			  width:60px;height:40px;
			  position:relative;bottom:8px;
			  box-sizing:border-box;
		}
		main{
			height:800px;
			box-sizing:border-box;
		}

		.img{
			height:800px;
			box-sizing:border-box;
			
		}

		footer{
			 background-color:#7DB45F;
			 font-family:"·L³n¥¿¶Â";
			 color:white;
			 height:70px;
			 width:auto;
			 font-size:20px;
			 box-sizing:border-box;
			 
		}
		.divfooter{
			position:relative;top:20px;
			box-sizing:border-box;
			
		}
		
		
		ul{
			list-style-type:none;
		}
		
		
		.movepage{
			position:relative;top:240px;
			box-sizing:border-box;
		}
		
		
		.hfonsize{
			color:blue;
			position:relative;right:1px;
		}
		
		.pfonsize{
			font-size:18px;
		}
		
		.ulmove{
			position:relative;right:40px;
		}
		
		ul li{
			font-size:18px;
		}
		
		@media only screen and (max-width:1024px){
			
			.movepage{
				position:relative;top:210px;
			}
			
		}

		@media only screen and (max-width:768px){
			
			.movepage{
				position:relative;top:200px;
			}
			
		}

		@media only screen and (max-width:540px){
			
			.movepage{
				position:relative;top:215px;
			}
			
		} 
		@media only screen and (max-width:414.5px){
		
			.movepage{
				position:relative;top:190px;
			}
			
		}

		@media only screen and (max-width:411.5px){
			
			.movepage{
				position:relative;top:240px;
			}
			.hfonsize{
				font-size:24px;
			}
			
			.pfonsize{
				font-size:16px;
			}
			
			ul li{
				font-size:16px;
			}
			
			
		}

		@media only screen and (max-width:375.5px){
			
			.movepage{
				position:relative;top:230px;
			}
			.hfonsize{
				font-size:24px;
			}
			
			.pfonsize{
				font-size:16px;
			}
			
			ul li{
				font-size:16px;
			}
			
			
		}

		@media only screen and (max-width:360.5px){
			
			.movepage{
				position:relative;top:230px;
			}
			.hfonsize{
				font-size:24px;
			}
			
			.pfonsize{
				font-size:16px;
			}
			
			ul li{
				font-size:16px;
			}
			
			
		}

		@media only screen and (max-width:320.5px){
			
			.movepage{
				position:relative;top:220px;
			}
			.hfonsize{
				font-size:24px;
			}
			
			.pfonsize{
				font-size:16px;
			}
			
			ul li{
				font-size:16px;
			}
			
			
			
		}

		@media only screen and (max-width:280.5px){
			
			.movepage{
				position:relative;top:230px;
			}
			.hfonsize{
				font-size:24px;
			}
			
			.pfonsize{
				font-size:14px;
			}
			
			ul li{
				font-size:14px;
			}
			
		} 