		header{
			background-color:#7DB45F;
			font-family:"微軟正黑";
			color:white;
			font-size:20px;
			height:60px;
			box-sizing:border-box;
		}
		.navColor{
			background-color:#7DB45F;
		}
		.logo{
			width:60px;height:40px;
			position:relative;bottom:10px;
		}
		.titletext{
			text-decoration:none;
			font-size:24px;
			position:relative;bottom:5px;right:5px;
			color:white;
		}
		.navtitletext{
			text-decoration:none;
			font-size:24px;
			position:relative;bottom:5px;right:5px;
		}		
		.fontsize{
			font-size:24px;
			font-family:"微軟正黑體";
		}
		.bgwidth{
			height:700px;
		}
		main{
			height:1000px;
			box-sizing:border-box;
		}
		
		footer{
			background:#7DB45F;
			height:55px;
			box-sizing:border-box;
		}
		.fp{
			font-size:20px;
			position:relative;top:15px;
		}
		
		
		@media only screen and (max-width:1200px){
			
			header{
				height:auto;
			}
			.bgwidth{
				height:700px;
			}
			
		}
		
		@media only screen and (max-width:1024px){
			
			header{
				height:auto;
			}
			.bgwidth{
				height:600px;
			}
			main{
				height:1000px;
			}
			
		}
		
		
		
		@media only screen and (max-width:768px){
			
			header{
				height:auto;
			}
			
			.bgwidth{
				height:100%;
			}
			
			main{
				height:1000px;
			}
			
		}
        
		@media only screen and (max-width:540px){
			
			header{
				height:auto;
			}
			.bgwidth{
				height:100%;
			}
			
			
			
		} 
		
		@media only screen and (max-width:414.5px){
			
			header{
				height:auto;
			}
			.bgwidth{
				height:100%;
			}
			
		}
        
		@media only screen and (max-width:411.5px){
			
			header{
				height:auto;
			}
			.bgwidth{
				height:100%;
			}
			
		}
        
		@media only screen and (max-width:375.5px){
			
			header{
				height:auto;
			}
			.bgwidth{
				height:100%;
			}
			
		}
        
		@media only screen and (max-width:360.5px){
			header{
				height:auto;
			}
			.bgwidth{
				height:100%;
			}
			
		}
        
		@media only screen and (max-width:320.5px){
			
			header{
				height:auto;
			}
			.titletext{
				display:none;
			}
			
			.bgwidth{
				height:100%;
			}
			
		}

		@media only screen and (max-width:280.5px){
			
			header{
				height:auto;
			}
			.titletext{
				display:none;
				
			}
			.bgwidth{
				height:100%;
			}
			
		}
		
		
		