		 .moveabout{
			position:relative;top:265px;
			box-sizing:border-box;
			
			
		}
		
		.habout{
			color:blue;
			font-size:32px;
		}
		
			
		.pabout{
			font-size:18px;
		}
		
		@media only screen and (max-width:1024px){
			
			.moveabout{
				position:relative;top:255px;
				
			}
			
			.habout{
				color:blue;
				font-size:32px;
			}
			
				
			.pabout{
				font-size:18px;
			}
			
		}

		@media only screen and (max-width:768px){
			
			.moveabout{
				position:relative;top:225px;
				
			}
			
			.habout{
				color:blue;
				font-size:32px;
			}
			
				
			.pabout{
				font-size:18px;
			}
			
		}

		@media only screen and (max-width:540px){
			
			.moveabout{
				position:relative;top:265px;
				
			}
			.habout{
				font-size:20px;
			}
			
			.pabout{
				font-size:15px;
			}
			
		} 
		@media only screen and (max-width:414.5px){
			
			.moveabout{
				position:relative;top:255px;
				
			}
			
			.habout{
				font-size:20px;
			}
			
			.pabout{
				font-size:15px;
			}
			
		}

		@media only screen and (max-width:411.5px){
			
			.moveabout{
				position:relative;top:240px;
				
			}
			
			.habout{
				font-size:20px;
			}
			
			.pabout{
				font-size:15px;
			}
			
		}

		@media only screen and (max-width:375.5px){
			
			.moveabout{
				position:relative;top:235px;
				
			}
			
			.habout{
				font-size:20px;
			}
			
			.pabout{
				font-size:10px;
			}
			
			
		}

		@media only screen and (max-width:360.5px){
			
			.moveabout{
				position:relative;top:235px;
				
			}
			
			.habout{
				font-size:20px;
			}
			
			.pabout{
				font-size:10px;
			}
			
		}

		@media only screen and (max-width:320.5px){
			
			.moveabout{
				position:relative;top:215px;
				
			}
			
			.habout{
				font-size:20px;
			}
			
			.pabout{
				font-size:10px;
			}
			
			
		}

		@media only screen and (max-width:280.5px){
			
			.moveabout{
				position:relative;top:215px;
				
			}
			
			.habout{
				font-size:20px;
			}
			.pabout{
				font-size:10px;
			}
			
		} 