	body{
		background-color:#F0F0F0;
		background-image:url(images/background1.png);
		background-repeat:no-repeat;
		background-position:center;
	}
	p,ol,ul{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10pt;
		line-height:150%;
		margin-top:0px;
		margin-bottom:5px;
	}
	form{
		margin:0px;
	}
	a{
		text-decoration:none;
	}
	a:link{
		color:#0066CC;
	}
	a:visited{
		color:#0066CC;
	}
	a:hover{
		color:#FF0000;
	}
	.dataDiv{
		margin:5px;
		float:left;
	}

	.title{
		font-family:"微軟正黑體";
		font-size:24pt;
		font-weight:bolder;
		color:#FF3300;
	}
	.titleDiv{
		margin:5px;
		font-family:"微軟正黑體";
		font-size:15pt;
		font-weight:bolder;
		color:#5B31F5;
	}
	.titleColor{
		margin:5px;
		font-family:"微軟正黑體";
		font-size:15pt;
		font-weight:bold;
		color:#FA9D69;
	}
	.heading{
		font-family:"微軟正黑體";
		font-size:13pt;
		color:#ff1493; /*粉紅色*/
		line-height:150%;
		font-weight:bold;
	}
	.smalltext{
		font-size:11px;
		color:black;
		font-family:Georgia,"Times New Roman", Times, serif;
		vertical-align:baseline;
	}
	.trademark{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:8pt;
		color:#ED267B;
	}
	.tdline{
		border:2px solid #656565;
	}
	.clear{
		clear:both;
	}
	.logintextbox{
		width:150px;
	}
	.infoDiv{
		font-family:"微軟正黑體";
		font-size:12pt;
		color: #990000;
		background-color:#FF9999;
		padding:4px;
		text-align:center;
		font-weight:bold;
	}
	.errDiv{
		font-family:"微軟正黑體";
		font-size:10pt;
		color:#FFFFFF;
		background-color:#FF0000;
		padding:4px;
		text-align:center;
	}
	.actionDiv{
		float:right;
		margin-top:-30px;
		font-size:11pt;
		font-family:"微軟正黑體";
		
	}
	.actionDiv a{
		color:#7F14FA;
	}
	.actionDiv a:hover{
		color:#FFFFFF;
		background-color:#CC0000;
	}
	
	.albumDiv{
		float:left;
		height:200px;
		width:150px;
		text-align:center;
		margin-right:22px;
		margin-bottom:5px;
	}
	.albumDiv .albuminfo{
		font-family:"微軟正黑體";
		font-size:11pt;
	}
	.albumDiv a{
		color:blue;
	}
	.navDiv{
		clear:both;
		text-align:center;
		font-family:"Courier New", Courier, monospace;
		font-size:9pt;
		padding:5px;
	}
	
	.normalDiv{
		margin:5px;
	}
	.subjectDiv{
		font-family:"微軟正黑體";
		font-size:14pt;
		font-weight:bold;
		color:#b8860b; /*金色*/
		padding:5px;
		clear:both;
		border-bottom-width:1px;
		border-bottom-style:solid;
		border-bottom-color:#666666;
		margin-bottom:10px;
	}
	.photoDiv{
		text-align:center;
		padding:10px;
	}
	.clear{
		clear:both;
	}
	.redword{
		color:#FF0000;
	}
	
	.categorybox{
		border:2px solid #656565;
		padding:15px;
		background-color:#F0F0F0;
		margin-bottom:15px;
		
	}
	
	.categorybox ul{
		list-style-type:none;
		margin-left:-20px;
	}
	.categorybox li{
		background-image:url(images/star.png);
		background-repeat:no-repeat; 
		background-position:0 0 0 0; 
		padding-left:20px;
	}
	.categorybox li a{
		color:#6495ed;/*cornflowerblue*/
	}
	.categorybox li a:hover{
		background-color:yellowgreen; 
		color:#FFFFFF;
	}
	.categorycount{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:8pt;
	}